.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  background-color: #374151; /* Dark background color for the card */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 400px;
  text-align: center;
  margin-right: 1em;
}

.card2 {
  background-color: #374151; /* Dark background color for the card */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 350px;
  text-align: left;
  margin-right: 1em;
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #ffffff;
}

.card-content {
  font-size: 1rem;
  margin-bottom: 20px;
  height: 220px;
}

.card-content2 {
  font-size: 1rem;
  margin-bottom: 20px;
  height: 80px;
}

.card-button {
  background-color: #71d88d;
  color: #ffffff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

footer {
  background-color: #1E262C; /* Set footer background color */
  color: #fff; /* Set text color in the footer */
  padding: 20px;
  text-align: center;
}

footer a {
  color: #fff; /* Set link color in the footer */
  margin: 0 10px; /* Add some spacing between links */
  text-decoration: none;
}